#navbar {
    padding: 20px 20%;
    max-height: 200px;
    display:flex;
    justify-content: space-between;
    #randomText{
        text-align: center;
        font-size: 2rem;
        padding-top: 17px;
        color: #769b71;
    }
    .logo{
        cursor: pointer;
    }
    img{
        max-width: 50px;
    }
    .imgProfil{
        i{
            color: #769b71;
        }
    }
}
.vert {
    background-color: #769b71;
    color:white;
}
.rouge{
    background-color: #a43116;
    color:white;
}
.orange{
    background-color: #d66c2c;
    color:white;
}
.blancOrange{
    background-color: white;
    color:#d66c2c;
}
.blancVert{
    background-color: white;
    color: #769b71;
}
.rougeNoB{
    color: #a43116;
}
#contentcerise{
    padding: 20px 20%;
    #creerTrajet{
        margin-bottom: 70px;
        cursor: pointer;
    }
    .sphere{
        border-radius: 50%;
        height: 400px;
        width: 400px;   
        margin: 0 auto;
        text-align: center;
        padding: 185px 0;
        h2{
            font-weight: bold;
            font-size: 4rem;
            margin-bottom: 2rem;
        }
    }
    .blockExpl{
        text-align: center;
        margin-bottom: 10px;
        padding: 50px;
        // min-height: 200px;
        border-radius: 5%;
        h1, h2{
            font-weight: bold;
            font-size: 4rem;
            margin-bottom: 2rem;
        }
        label{
            
            font: 2.5rem sans-serif;
        }
        input{
            margin: 5px 0;
            height: 25px;
            font-size: 2rem;
        }
        p{
            font: 2rem sans-serif;
        }
        .listePhoto {
            display:flex;
            justify-content: space-evenly;
            img{
                padding:5px;
                width: 200px;
                background-color: white ;
                margin-right: 10px;
            }
        }
        button{
            cursor: pointer;
            margin-top: 25px;
            font-weight: bold;
            font-size: 2rem;
            border: none;
            padding: 5px 10px;
            border-radius: 5%;
        }

    }
    .divButton{
        display:flex;
        justify-content: space-between;
        margin: 30px 0;
        text-align: center;
        button{
            cursor: pointer;
            font-weight: bold;
            font-size: 2.5rem;
            border: none;
            padding: 20px 40px;
            border-radius: 5%;
        }
    }
    .map{
        img{
            width:100%;
        }
    }
}
